<h1>Bulk Discounts</h1>
<%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>
<% @merchant.bulk_discounts.each do |bulk_discount| %>
  <div class="bulk" id="bulk-<%= bulk_discount.id %>">
    <p>
      <%= bulk_discount.percentage_discount.to_i %>% off <br>
      <%= bulk_discount.quantity_threshold %> items or more<br>
    </p>
    <%= link_to "#{bulk_discount.percentage_discount}", merchant_bulk_discounts_path(@merchant, bulk_discount) %>
  </div>
<% end %>